<ion-content [fullscreen]="false">

  <ion-img class="imgTop" src="../../../assets/header.png" alt="header"></ion-img>

  <div class="contenedor">
    
      <ion-img class="imgLogin" src="../../../assets/robot250.png" alt="login_user"></ion-img>

      <div>
        <input id="idEmail" type="email" value="" maxlength="30" #email required placeholder=" Ingresar email">
      </div>

      <div>
        <input id="idPassw" type="password" value="" maxlength="30"  #password required placeholder=" Ingresar contraseña" />
      </div>

      <div>
        <ion-button id="btnLogin" fill="solid" shape="round"  color="primary"  (click)="LogInWithEmail(email, password)">Iniciar
          sesión</ion-button>
      </div>

      <div>
        <label class="clsOlvido">¿Olvidaste tu contraseña? Presiona </label><button class="clsAqui" (click)="recuperarContrasena()">aquí</button>
      </div>

      <div class="clsSinUsuario">
        <ion-label>¿Aún no tienes usuario? </ion-label>
      </div>

      <div>
        <ion-button id="btnRegister" fill="clear" (click)="Registrarse()">Regístrate</ion-button>
      </div>
  </div>
</ion-content>
