<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="cerrarSesion()"> 
     <ion-back-button class="md" mode="md" defaultHref=""></ion-back-button>Salir
    </ion-buttons>
    <ion-title slot="end">CalendApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">

  <div class="contenedor">

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div>
      <h1>Turnos para hoy</h1>
    </div>

    <div class="content-wrapper">
      <div>
        <ion-list class="lista1" [inset]="true">
          <ion-item button *ngFor="let turno of turnosHoy">
            <ion-label>{{ turno.nombre }} - {{turno.hora}} hs </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <p id="pSinTurnos">{{ mensajeTurno }}</p>


    <div class="div-btns1">
      <div class="div-btns2">
        <ion-button shape="round" fill="solid" class="btn"  color="primary" routerLink="/patients">Clientes</ion-button>
        <ion-button shape="round" fill="solid" class="btn" color="primary" (click)=verAgendaTurnos()>Agenda</ion-button>
        <!-- <ion-button shape="round" fill="solid" class="btnClass" color="primary" (click)="cerrarSesion()">Cerrar sesión</ion-button> -->
      </div>
    </div>
  </div>

</ion-content>