
ion-item{
    --padding-start:0;
    --inner-padding-end:0;
    ion-icon{
        padding-right: 5px;
        font-size: 18px;
    }
}

.re-btn-wrap{
    text-align: center;
    padding-top: 25px;
    // .sign-btn{
    //     font-size: 15px;
    //     font-weight: 400;
    //     height: 40px;
    // }
}

.email{
    margin: 0px auto;
    margin-top: 30px;
    width: 300px;
    max-width: 500px;
    text-align: center;
}

.btn{
    width: 130px;
}
