<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="md"  mode="md" slot="start" >
     <ion-back-button class="md" mode="md" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">CalendApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <div class="contenedor">
    <div>
      <h1>Crear cliente</h1>
      <label>Crea un cliente y gestiónalo desde la App!</label>
    </div>

    <div>
      <form class="form1">
        <ion-item color="light">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input color="light" [(ngModel)]="inputNombre" [ngModelOptions]="{standalone: true}" maxlength="30" minlength="2" placeholder="Nombre (hasta 30 caracteres)" required type="text"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input [(ngModel)]="inputApellido" [ngModelOptions]="{standalone: true}" maxlength="30" minlength="2" placeholder="Apellido (hasta 30 caracteres)" required type="text"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-icon name="card-outline"></ion-icon>
          <ion-input [(ngModel)]="inputDNI" [ngModelOptions]="{standalone: true}" maxlength="12" minlength="7"placeholder="Documento (solo números)" required type="text"></ion-input>
        </ion-item>
        <ion-item color="light">         
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Fecha de nacimiento</ion-label>
          <ion-input class="fecha" [(ngModel)]="inputFechaNac" [ngModelOptions]="{standalone: true}" type="date" value="" min="1930-01-01" maxlength="10" minlength="10" placeholder="Fecha de nacimiento (dd/mm/aaaa)" required></ion-input>
          <!-- <ion-input class="fecha" min="1930-01-01" [(ngModel)]="inputFechaNac" [ngModelOptions]="{standalone: true}" type="date" value="" ></ion-input> -->
        </ion-item>
        <ion-item color="light">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input [(ngModel)]="inputCorreo" [ngModelOptions]="{standalone: true}" maxlength="30" minlength="8" placeholder="Email (hasta 30 caracteres)" required type="text"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-icon name="call-outline"></ion-icon>
          <ion-input [(ngModel)]="inputTelefono" [ngModelOptions]="{standalone: true}" maxlength="15" minlength="8" placeholder="Teléfono (solo números)" required type="text"></ion-input>
        </ion-item>
      </form>        

      <div class="btn-wrap">
        <ion-button  fill="solid" shape="round" color="primary" (click)="nuevoCliente()">Guardar</ion-button>
        <ion-button fill="solid" shape="round" color="dark" (click)="cancelar()">Cancelar</ion-button>
      </div>
    </div>
  </div>
</ion-content>