<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="md"  mode="md" slot="start" >
     <ion-back-button class="md" mode="md" defaultHref="login"></ion-back-button>Login
    </ion-buttons>
    <ion-title slot="end">CalendApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="contenedor">

      <div class="encabezado">
        <img src="../../../assets/robot250.png" alt="suscripción"/>
        <p class="texto1">Suscríbete a CalendApp por un año con un único pago de 120 dólares</p>
      </div>

      <div class="inputs">
        <p class="texto2">Usuario que obtendrá la suscripción:</p>

        <ion-item lines="full" color="light">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label><strong>{{email}}</strong></ion-label>
        </ion-item>

        <p class="texto2">Ingresá los datos de tu tarjeta:</p>

        <ion-item lines="full" color="light">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input id="idNombre" type="text" #nombre required placeholder="Nombre"> </ion-input>
        </ion-item>

        <ion-item lines="full" color="light">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input id="idApellido" type="text" #apellido required placeholder="Apellido"> </ion-input>
        </ion-item>

        <ion-item color="light">
          <ion-icon name="card-outline"></ion-icon>
          <ion-input id="idTarjetaNumero" type="text" #tarjeta_numero required
            placeholder="Número de tarjeta (solo números)"></ion-input>
        </ion-item>

        <div class="ion-justify-content-start">
          <ion-item color="light">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label id="idTarjetaVence" #tarjeta_vence>Fecha de vencimiento:</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="month-year">
                </ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-label></ion-label>
            <ion-label></ion-label>
          </ion-item>
        </div>

        <ion-item color="light">
          <ion-icon name="warning-outline"></ion-icon>
          <ion-input id="idSeguridad" type="text" #codigo_seguridad required
            placeholder="Código de seguridad"></ion-input>
        </ion-item>

        <div class="botones">
          <ion-button fill="solid" shape="round" color="primary"  class="btn" 
            (click)="Suscribirse(nombre, apellido, tarjeta_numero, tarjeta_vence, codigo_seguridad)">Suscribirse</ion-button>
          <ion-button class="btn"  fill="solid" shape="round" color="dark" (click)="Cancelar()">Cancelar</ion-button>
        </div>
      </div>
  </div>
</ion-content>