<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="cerrar()">
     <ion-back-button class="md" mode="md" defaultHref="patients"></ion-back-button>Volver
    </ion-buttons>
    <ion-title slot="end">CalendApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <div class="contenedor">

    <div>
      <h1>Informacion del cliente</h1>
      <label>Consulta la información que necesitas de tu cliente en esta pantalla</label>
    </div>

    <div class="page-content">
      <p>Nombre: {{ paciente.nombre }}</p>
      <p>Apellido: {{ paciente.apellido }}</p>
      <p>Correo: {{ paciente.correo }}</p>
      <p>DNI: {{ paciente.dni }}</p>
      <p>Teléfono: {{ paciente.telefono }}</p>
      <p>Fecha de nacimiento: {{ paciente.fechaNac }}</p>
    </div>
  </div>

  <!-- <div class="boton">
    <ion-button class="back-btn round-btn" title="Cerrar" (click)="cerrar()">
      <ion-icon name="arrow-undo-outline" alt="Cerrar"></ion-icon>
    </ion-button>
  </div> -->

</ion-content>